.plans-drawer-content {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}
.plans-drawer-content::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.plans-drawer-content {
  -webkit-overflow-scrolling: touch;
}
